{% extends 'base.html' %}
{% block content %}
  <h2>Register</h2>
  <form method="POST" action="{{ url_for('register') }}">
      {{ form.hidden_tag() }}
      {{ form.username.label }} {{ form.username(size=20) }}<br>
      {{ form.password.label }} {{ form.password(size=20) }}<br>
      {{ form.confirm_password.label }} {{ form.confirm_password(size=20) }}<br>
      {{ form.submit() }}
  </form>

  <form method="POST" action="{{ url_for('login') }}">
      <button type="submit" name="login">Login</button>
  </form>
{% endblock %}
